.title1 {
  width: fit-content;
  max-width: 400px;
  color: white;
  background-color: red;
  padding: 20px;
  margin: 20px;
}

.title2 {
  width: fit-content;
  max-width: 400px;
  color: white;
  background-color: red;
  padding: 20px;
  margin: 20px;
}

.title3 {
  width: fit-content;
  max-width: 400px;
  color: white;
  background-color: red;
  padding: 20px;
  margin: 20px;
}

.title4 {
  width: fit-content;
  max-width: 400px;
  height: 50px;
  color: white;
  background-color: red;
  padding: 20px;
  margin: 20px;
  overflow: hidden;
}
