div {
  width: 400px;
  margin: 20px;
  padding: 10px;
}

.div1 {
  border-left-style: solid;
  border-left-color: palevioletred;
  border-left-width: 5px;
}

.div2 {
  visibility: hidden;
}

.div3 {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: springgreen;
}
